*.class

# Package Files #
*.war
*.ear

/doc
/bin
/gen
/assets
/.settings
.classpath
.project
ic_launcher-web.png
local.properties
proguard-project.txt
project.properties
ant.properties
build.xml
.DS_Store
/nbandroid/
default.properties
private/
build.properties
/doc